@using SynMetal_MVC.Models
@model IEnumerable<PdfFile> 
@{

}
<table class="table table-hover">
    <tr>
        <th class="margin-left margin-right padding-left padding-right text-center">
            Download File
        </th>
        <th class="margin-left margin-right padding-left padding-right text-center">
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th class="margin-left margin-right padding-left padding-right text-center">
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th class="margin-left margin-right padding-left padding-right text-center">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="margin-left margin-right padding-left padding-right text-center">
                <a class="btn btn-info" target="_blank" href="@Url.Content(item.FilePath)">Open File</a>
            </td>
            <td class="margin-left margin-right padding-left padding-right text-center">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td class="margin-left margin-right padding-left padding-right text-center">
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td class="margin-left margin-right padding-left padding-right text-center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td class="margin-left margin-right padding-left padding-right text-center">
                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.PdfId }) @:|

                    @Html.ActionLink("Delete", "Delete", new { id = item.PdfId }) @:|
            }
                @Html.ActionLink("Details", "Details", new { id = item.PdfId })
            </td>
        </tr>
    }

</table>