@model IEnumerable<SynMetal_MVC.Models.PdfFile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
{
<p>
    @Html.ActionLink("Create New", "Create") 
   |
    @Html.ActionLink("Manage PDF Categories","Index","PdfCategories",null,null)
</p>
}
<dl>
    <dd>

        <label for="Categories">Narrow By Category</label>
    </dd>
    <dd>
        @Html.DropDownList("PdfCategories", "Show All")
    </dd>
</dl>
<div id="TargetArea" class="table-hover">
@Html.Partial("Partial/_PdfPerCategory",Model)

</div>
@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryval") *@

   
}
