@model SynMetal_MVC.Models.ViewMod.HomeIndexView
@{
    ViewBag.Title = "Home Page";
}
@*@Html.ActionLink("Hit mme", "changes","Home",null)*@
<div class="jumbotron">
    <h3>@ResourceFiles.Resources.SiteName</h3>
    @*<p>@if (Session["NN"] != null)
    {
        @Session["NN"].ToString();
    }</p>*@
    
    <p class="lead">@ResourceFiles.Resources.Welcome </p>
    
</div>
<div class="container">
    <div class="row">
        @if(Model != null && Model.lastProduct != null)
        { 
        <div class="col-md-3">
           
                <div class="text-center">
                    <h2>Latest Product</h2>
                    <p>
                        @Model.lastProduct.Name
                        <br />
                        <small> @Model.lastProduct.Description </small>
                    </p>

                    <p>
                        <a class="btn btn-default"
                           href="@Url.Action("Details", "Products", new { id=Model.lastProduct.id })">Learn more &raquo;</a>
                    </p>
                </div>
           
        </div>
        }
        @if(Model != null && Model.LastNews !=null)
        { 
        <div class="col-md-6 overflow-data-y" >
            <div class="text-center">
                <h2>Latest News</h2>
                @foreach (var info in Model.LastNews)
                {
                    <div class="margin-right">
                        <h4>@info.Name</h4>
                        <p>
                            
                            <br />
                            <small> @info.Description </small>
                        </p>

                        <p>
                            <a class="btn btn-default"
                               href="@Url.Action("Details", "News", new { id = info.NewsId })">Learn more &raquo;</a>
                        </p>
                    </div>
                    }
            </div>
        </div>
        }
        @if (Model != null && Model.LastPdf != null)
        {
        <div class="col-md-3 overflow-data-y">
            
                <div class="text-center">
                    <h2>Latest Files</h2>

                    @foreach (var info in Model.LastPdf)
            {
                        <div class="margin-right">
                            <h4>@info.Category.Name</h4>
                            <p>
                                <a href="@Url.Content(info.FilePath)" target="_blank" class="btn btn-info">@info.FileName</a>
                                <br />
                                <small> @info.Description </small>
                            </p>

                            <p>
                                <a class="btn btn-default"
                                   href="@Url.Action("Details", "PdfFiles", new { id = info.id })">Learn more &raquo;</a>
                            </p>
                        </div>
                    }



                </div>
           
        </div>
        }
    </div>
    </div>

<br/>
<hr />


  