@model IEnumerable<SynMetal_MVC.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
{
    @Html.ActionLink("Create New Product", "Create") @:|
    @Html.ActionLink("Manage Product Categories", "Index", "ProductCategories",null,null)
   
}
    <dl>
        <dd>
            
           <label for="Categories">Narrow By Category</label>
            </dd>
    <dd>
            @Html.DropDownList("Categories","Show All")
        </dd>
    </dl></p>

<div id="TargetArea" class="table-hover">
   @Html.Partial("Partial/_ProductView",Model)
</div>

@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryval") *@
   
    
}
